@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="zh-TW">

<head>
    <meta charset="utf-8" />
    <title>驗證成功 - 優答 </title>
    <link rel="stylesheet" href="~/css/editormd.css" />
</head>

<body>
    <div class="container">
        <div class="row justify-content-center ">
            <div class="col-12">
                <div class="mt-4 col-12">
                    <div class="post_container">
                        <h3 style="text-align:center;">帳戶驗證成功，歡迎加入優答Yoda Coding。</h3>
                        <div class="d-flex justify-content-center">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <script src="~/examples/js/jquery.min.js"></script>
    <script src="~/editormd.js"></script>
</body>

</html>
